<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

<html class="no-js">
<!--<![endif]-->
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>jQeury.steps Demos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'wizard/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'wizard/css/jquery.steps.css' %}">

    <script src="{% static 'wizard/js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'wizard/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'wizard/js/jquery.cookie-1.3.1.js' %}"></script>
    <script src="{% static 'wizard/js/jquery.steps.js' %}"></script>
</head>

<body>
<form id="example-advanced-form" action="#">
    <h3>Account</h3>
    <fieldset>
        <legend>Account Information</legend>

        <label>Client ID *</label>
        <input id="clientID" name="clientID" type="text" class="required"><br>
        <label>First Name *</label>
        <input id="firstName" name="firstName" type="text" class="required"><br>
        <label>Last Name *</label>
        <input id="lastName" name="lastName" type="text" class="required"><br>
        <label>Post Code *</label>
        <input id="postCode" name="postCode" type="text" class="required"><br>
        <label>Status *</label>
        <input id="status" name="status" type="text" class="required"><br>
        <p>(*) Mandatory</p>
    </fieldset>

    <h3>Case Intensity Rating</h3>

    <fieldset>
        <legend>Client Information</legend>
            <label id="clientName2"></label>
         <div class="row">
                                <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="x_panel" style="overflow-y: scroll; height:500px;">
                                        <table class="container" cellpadding="10">
                                            <thead>
                                                <tr>
                                                    <th style="height: 15px">
                                                        <h1>Category</h1></th>
                                                    <!-- <th></th> -->
                                                    <th style="height: 15px">
                                                        <h1>Low</h1></th>
                                                    <th style="height: 15px">
                                                        <h1>Average</h1></th>
                                                    <th style="height: 15px">
                                                        <h1>High</h1></th>
                                                    <th style="height: 15px" colspan="2">
                                                        <h1>Category Rating</h1></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td bgcolor="232d42" style="text-align:left;padding-left: 15px;">
                                                        <div>
                                                            <ol style="margin: 0px">
                                                                <li>Characteristics of the child's disability</li>
                                                            </ol>
                                                        </div>
                                                        <div>
                                                            <font color="yellow">&nbsp;&nbsp;&nbsp;&nbsp;Weight=15%</font>
                                                        </div>
                                                    </td>
                                                    <td colspan="3">
                                                        <table>
                                                            <tr>
                                                                <td style="text-align:left;padding-left: 15px;" colspan="3">
                                                                    <ol type="a">
                                                                        <li>People to provide FSCD services e.g. PCA worker, specialized service agency</li>
                                                                        <li>Non-FSCD support systems /services e.g. mental health, education</li>
                                                                        <li>Collaborate with others to establish resources for assessed FSCD services</li>
                                                                        <li>Agencies</li>
                                                                    </ol>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="low1" class="low" bgcolor="#0f2b6d">
                                                                    <button id="lowB1" onclick="clickBtn(this.id)">low concern on most of a-d</button>
                                                                </td>
                                                                <td id="avg1" class="avg" bgcolor="#0f2b6d">
                                                                    <button id="avgB1" onclick="clickBtn(this.id)">moderate concern on any two or more of a-d</button>
                                                                </td>
                                                                <td id="high1" class="high" bgcolor="#0f2b6d">
                                                                    <button id="highB1" onclick="clickBtn(this.id)">high degree of concern on any one of a-d</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td bgcolor="#31405e" style="text-align:center;padding-left: 15px;" colspan="2">
                                                        <!-- <ol type="a">
                                                        <li>Degree of the impact of disability/ medical condition</li>
                                                        <li>Impact of multiple-diagnoses</li>
                                                        <li>Eligibility</li>
                                                        <li>Frequency of change in condition</li>
                                                    </ol> -->
                                                        <div>
                                                            <div style="display:inline;width:auto;height:auto;" class="center-block">
                                                                <div style="display:inline;width:auto;height:;">
                                                                    <input type="text" style="font-size: 15px!important;" name="knob" id="knob" data-fgcolor="#31405e" class="knob" v-bind:value="v1" data-step=20 data-angleOffset=-90 data-angleArc=180 data-rotation=clockwise data-width="120" data-height=75 data-thickness="0.3">
                                                                </div>
                                                                <h4 id="r1" style="font-family: Arial;color: #3BDC96">Low</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- <td rowspan="6">
                                                    <div id="d1" style="width: 300px; overflow:hidden;">

                                                    ddsfldkkkkkasdjfkllltest


                                                    itnkdlkkkkktes
                                                    </div>
                                                </td> -->
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;padding-left: 15px;">
                                                        <div>
                                                            <ol style="margin: 0px">
                                                                <li>Characteristics of the child's disability</li>
                                                            </ol>
                                                        </div>
                                                        <div>
                                                            <font color="yellow">&nbsp;&nbsp;&nbsp;&nbsp;Weight=15%</font>
                                                        </div>
                                                    </td>
                                                    <td colspan="3">
                                                        <table>
                                                            <tr>
                                                                <td style="text-align:left;padding-left: 15px;" colspan="3">
                                                                    <ol type="a">
                                                                        <li>People to provide FSCD services e.g. PCA worker, specialized service agency</li>
                                                                        <li>Non-FSCD support systems /services e.g. mental health, education</li>
                                                                        <li>Collaborate with others to establish resources for assessed FSCD services</li>
                                                                        <li>Agencies</li>
                                                                    </ol>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="low2" class="low" bgcolor="#0f2b6d">
                                                                    <button id="lowB2" onclick="clickBtn(this.id)">low concern on most of a-d</button>
                                                                </td>
                                                                <td id="avg2" class="avg" bgcolor="#0f2b6d">
                                                                    <button id="avgB1" onclick="clickBtn(this.id)">moderate concern on any two or more of a-d</button>
                                                                </td>
                                                                <td id="high2" class="high" bgcolor="#0f2b6d">
                                                                    <button id="highB1" onclick="clickBtn(this.id)">high degree of concern on any one of a-d</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td bgcolor="#455370" style="text-align:center;padding-left: 15px;" colspan="2">
                                                        <!-- <ol type="a">
                                                        <li>Degree of the impact of disability/ medical condition</li>
                                                        <li>Impact of multiple-diagnoses</li>
                                                        <li>Eligibility</li>
                                                        <li>Frequency of change in condition</li>
                                                    </ol> -->
                                                        <div>
                                                            <div style="display:inline;width:auto;height:auto;" class="center-block">
                                                                <div style="display:inline;width:auto;height:;">
                                                                    <input type="text" style="font-size: 15px!important;" id="knob2" name="knob2" data-fgcolor="#66EE66" class="knob" v-bind:value="v1" data-step=20 data-angleOffset=-90 data-angleArc=180 data-rotation=clockwise data-width="120" data-height=75 data-thickness="0.3">
                                                                </div>
                                                                <h4 id="r2" style="font-family: Arial;color: #3BDC96">Low</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- <td rowspan="6">
                                                    <div id="d1" style="width: 300px; overflow:hidden;">
                                                    </div>
                                                </td> -->
                                                </tr>
                                                <tr>
                                                    <td bgcolor="232d42" style="text-align:left;padding-left: 15px;">
                                                        <div>
                                                            <ol style="margin: 0px">
                                                                <li>Characteristics of the child's disability</li>
                                                            </ol>
                                                        </div>
                                                        <div>

                                                            <font color="yellow">&nbsp;&nbsp;&nbsp;&nbsp;Weight=15%</font>
                                                        </div>
                                                    </td>
                                                    <td colspan="3">
                                                        <table>
                                                            <tr>
                                                                <td style="text-align:left;padding-left: 15px;" colspan="3">
                                                                    <ol type="a">
                                                                        <li>People to provide FSCD services e.g. PCA worker, specialized service agency</li>
                                                                        <li>Non-FSCD support systems /services e.g. mental health, education</li>
                                                                        <li>Collaborate with others to establish resources for assessed FSCD services</li>
                                                                        <li>Agencies</li>
                                                                    </ol>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="low3" class="low" bgcolor="#0f2b6d">
                                                                    <button id="lowB3" onclick="clickBtn(this.id)">low concern on most of a-d</button>
                                                                </td>
                                                                <td id="avg3" class="avg" bgcolor="#0f2b6d">
                                                                    <button id="avgB3" onclick="clickBtn(this.id)">moderate concern on any two or more of a-d</button>
                                                                </td>
                                                                <td id="high3" class="high" bgcolor="#0f2b6d">
                                                                    <button id="highB3" onclick="clickBtn(this.id)">high degree of concern on any one of a-d</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td bgcolor="#31405e" style="text-align:center;padding-left: 15px;" colspan="2">
                                                        <!-- <ol type="a">
                                                        <li>Degree of the impact of disability/ medical condition</li>
                                                        <li>Impact of multiple-diagnoses</li>
                                                        <li>Eligibility</li>
                                                        <li>Frequency of change in condition</li>
                                                    </ol> -->
                                                        <div>
                                                            <div style="display:inline;width:auto;height:auto;" class="center-block">
                                                                <div style="display:inline;width:auto;">
                                                                    <input type="text" style="font-size: 15px!important;" id="knob3" name="knob3" data-fgcolor="#66EE66" class="knob" v-bind:value="v1" data-step=20 data-angleOffset=-90 data-angleArc=180 data-rotation=clockwise data-width="120" data-height=75 data-thickness="0.3">
                                                                </div>
                                                                <h4 id="r3" style="font-family: Arial;color: #3BDC96">Low</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- <td rowspan="6">
                                                    <div id="d1" style="width: 300px; overflow:hidden;">
                                                    </div>
                                                </td> -->
                                                </tr>
                                                <tr>
                                                    <td style="text-align:left;padding-left: 15px;">
                                                        <div>
                                                            <ol style="margin: 0px">
                                                                <li>Characteristics of the child's disability</li>
                                                            </ol>
                                                        </div>
                                                        <div>
                                                            <font color="yellow">&nbsp;&nbsp;&nbsp;&nbsp;Weight=15%</font>
                                                        </div>
                                                    </td>
                                                    <td colspan="3">
                                                        <table>
                                                            <tr>
                                                                <td style="text-align:left;padding-left: 15px;" colspan="3">
                                                                    <ol type="a">
                                                                        <li>People to provide FSCD services e.g. PCA worker, specialized service agency</li>
                                                                        <li>Non-FSCD support systems /services e.g. mental health, education</li>
                                                                        <li>Collaborate with others to establish resources for assessed FSCD services</li>
                                                                        <li>Agencies</li>
                                                                    </ol>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td id="low4" class="low" bgcolor="#0f2b6d">
                                                                    <button id="lowB4" onclick="clickBtn(this.id)">low concern on most of a-d</button>
                                                                </td>
                                                                <td id="avg4" class="avg" bgcolor="#0f2b6d">
                                                                    <button id="avgB4" onclick="clickBtn(this.id)">moderate concern on any two or more of a-d</button>
                                                                </td>
                                                                <td id="high4" class="high" bgcolor="#0f2b6d">
                                                                    <button id="highB4" onclick="clickBtn(this.id)">high degree of concern on any one of a-d</button>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td bgcolor="#455370" style="text-align:center;padding-left: 15px;" colspan="2">
                                                        <!-- <ol type="a">
                                                        <li>Degree of the impact of disability/ medical condition</li>
                                                        <li>Impact of multiple-diagnoses</li>
                                                        <li>Eligibility</li>
                                                        <li>Frequency of change in condition</li>
                                                    </ol> -->
                                                        <div>
                                                            <div style="display:inline;width:auto;height:auto;" class="center-block">
                                                                <div style="display:inline;width:auto;height:;">
                                                                    <input type="text" style="font-size: 15px!important;" id="knob4" name="knob4" data-fgcolor="#66EE66" class="knob" v-bind:value="v1" data-step=20 data-angleOffset=-90 data-angleArc=180 data-rotation=clockwise data-width="120" data-height=75 data-thickness="0.3">
                                                                </div>
                                                                <h4 id="r4" style="font-family: Arial;color: #3BDC96">Low</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <!-- <td rowspan="6">
                                                    <div id="d1" style="width: 300px; overflow:hidden;">
                                                    </div>
                                                </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="x_content">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class=" col-md-12 col-sm-12" style="border:1px solid black;" class="center-block">
                                            <h3 style="text-align: center;" id="test">Case Intensity Rating</h3>
                                            <div id="chartContainer" style="height: 200px; width: 100%;">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div style="border:1px solid black;">
                                            <h4 id="t1" style="font-size: 5;">Description</h4>
                                            <h2 id="d1"></h2>
                                        </div>
                                        <br>
                                        <br>
                                        <button type="button" onclick="generatePDF()" class="btn btn-primary">Primary</button>
                                    </div>
                                </div>
                            </div>

    </fieldset>


</form>

</body>

<script>
    var form = $("#example-advanced-form").show();

form.steps({
    headerTag: "h3",
    bodyTag: "fieldset",
    transitionEffect: "slideLeft",
    onStepChanging: function (event, currentIndex, newIndex)
    {
        // Allways allow previous action even if the current form is not valid!
        if (currentIndex > newIndex)
        {
            return true;
        }
        // Forbid next action on "Warning" step if the user is to young
        if (newIndex === 3 && Number($("#age-2").val()) < 18)
        {
            return false;
        }
        // Needed in some cases if the user went back (clean up)
        if (currentIndex < newIndex)
        {
            // To remove error styles
            form.find(".body:eq(" + newIndex + ") label.error").remove();
            form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
        }
        form.validate().settings.ignore = ":disabled,:hidden";
        return form.valid();
    },
    onStepChanged: function (event, currentIndex, priorIndex)
    {
        $('#clientName2').html('Client Name:  ' + $('#firstName').val() + " " + $('#lastName').val() );
        // Used to skip the "Warning" step if the user is old enough.
        if (currentIndex === 2)
        {
            form.steps("next");

        }
        // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
        if (currentIndex === 2 && priorIndex === 3)
        {
            form.steps("previous");
        }
    },
    onFinishing: function (event, currentIndex)
    {
        form.validate().settings.ignore = ":disabled";
        return form.valid();
    },
    onFinished: function (event, currentIndex)
    {
        alert("Submitted!");
    }
}).validate({
    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    rules: {
        confirm: {
            equalTo: "#password-2"
        }
    }
});


</script>
     <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>

</html>